
/* Globals */

:root {
    --sidebar-width: 300px;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Courier New";
    --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.light, .rust {
    --bg: hsl(0, 0%, 100%);
    --fg: hsl(0, 0%, 0%);

    --sidebar-bg: #001570;
    --sidebar-fg: #fff;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #1f1fff;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #8F8F8F;

    --icons: #747474;
    --icons-hover: #000000;

    --links: #20609f;

    --inline-code-color: #301900;

    --theme-popup-bg: #fafafa;
    --theme-popup-border: #cccccc;
    --theme-hover: #e6e6e6;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;

    --color-scheme: light;
}

.navy, .coal, .ayu {
    --bg: hsl(226, 23%, 11%);
    --fg: #bcbdd0;

    --sidebar-bg: #001570;
    --sidebar-fg: #fff;
    --sidebar-non-existant: #505274;
    --sidebar-active: #2b79a2;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #161923;
    --theme-popup-border: #737480;
    --theme-hover: #282e40;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(226, 23%, 16%);
    --table-header-bg: hsl(226, 23%, 31%);
    --table-alternate-bg: hsl(226, 23%, 14%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #aeaec6;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #5f5f71;
    --searchresults-border-color: #5c5c68;
    --searchresults-li-bg: #242430;
    --search-mark-bg: #a2cff5;

    --color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    .light.no-js {
        --bg: hsl(0, 0%, 100%);
        --fg: hsl(0, 0%, 0%);
    
        --sidebar-bg: #001570;
        --sidebar-fg: #fff;
        --sidebar-non-existant: #aaaaaa;
        --sidebar-active: #1f1fff;
        --sidebar-spacer: #f4f4f4;
    
        --scrollbar: #8F8F8F;
    
        --icons: #747474;
        --icons-hover: #000000;
    
        --links: #20609f;
    
        --inline-code-color: #301900;
    
        --theme-popup-bg: #fafafa;
        --theme-popup-border: #cccccc;
        --theme-hover: #e6e6e6;
    
        --quote-bg: hsl(197, 37%, 96%);
        --quote-border: hsl(197, 37%, 91%);
    
        --warning-border: #ff8e00;
    
        --table-border-color: hsl(0, 0%, 95%);
        --table-header-bg: hsl(0, 0%, 80%);
        --table-alternate-bg: hsl(0, 0%, 97%);
    
        --searchbar-border-color: #aaa;
        --searchbar-bg: #fafafa;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #888;
        --searchresults-li-bg: #e4f2fe;
        --search-mark-bg: #a2cff5;
    }
}
